body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Header for the site */

header {
    height: 100px; 
    width: 100%;
    border: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: 'Delicious Handrawn', cursive;
    font-size: 80px;
}

/* Section for the cards */

.cards {
    height: 600px;
    width: 100%;
    display: flex;
    border: solid 1px blue;
    align-items: center;
}

.card1 {
    height: 80%;
    width: 33%;
    border: solid 2px yellow;
}

.card2 {
    height: 80%;
    width: 33%;
    border: solid 2px green;
}

.card3 {
    height: 80%;
    width: 33%;
    border: solid 2px red;
}

/* Section for card content */

